.top-box {
  width: 1200px;
  height: 75px;
  background: #e5e5e5;
  display: flex;
  justify-content: space-around;
}

.moviename-box {
  width: 800px;
  height: 120px;
  background: #e5e5e5;
  .moviename-box-title {
    padding: 20px;
  }
}

.poster-box {
  width: 250px;
  height: 350px;
  background: #e5e5e5;
  display: flex;
  justify-content: center;
}

.score-box {
  width: 530px;
  height: 165px;
  background: #e5e5e5;
  .score-box-title {
    padding: 20px;
  }
}

.desc-box {
  width: 530px;
  height: 165px;
  background: #e5e5e5;
  .desc-box-title {
    padding: 20px 20px 0px 20px;
  }
  .desc-box-review-detail {
    font-size: 0.9375rem;
    font-family: sans-serif;
  }
}

.review-box {
  width: 800px;
  height: 400px;
  background: #e5e5e5;

  .review-box-title {
    padding: 20px;
  }
  .review-box-sm {
    height: 150px;
    .title-name-pos {
      display: flex;
      padding: 15px;
    }
    .title-desc {
      padding: 0px 15px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .read-more {
      position: absolute;
      display: block !important;
      text-align: end;
      right: 0;
      bottom: 0;
      margin: 1.5rem;
    }
  }
}

.contact-box {
  width: 1200px;
  height: 175px;
  background: #e5e5e5;
  .contact-box-title {
    padding: 20px 20px 0px 20px;
  }
}

.title-name {
  text-align: center;
  font-size: 1.375rem;
  font-weight: bold;
  font-family: sans-serif;
}

.title-name-sm {
  text-align: center;
  font-size: 1.0625rem;
  font-family: sans-serif;
}
